:root {
  --brand-color:rgba(62,180,149,1);
  --main-color:black; }

h1, h2, h3 {
  color: black; }

a {
  text-decoration: none !important;
  color: black !important; }
  a:hover {
    color: var(--brand-color) !important;
    font-weight: bold;
    cursor: pointer; }

button,
.button {
  border-radius: 5px;
  background-color: var(--brand-color);
  color: white;
  padding: 15px;
  border: 0px;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  margin-top: 20px; }
  button:hover,
  .button:hover {
    opacity: 0.7;
    cursor: pointer; }
  button:focus,
  .button:focus {
    opacity: 0.7; }

footer {
  background-color: black;
  height: 250px; }
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: "";
    -ms-flex-pack: "";
    justify-content: "";
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: white;
    font-size: 0.9rem; }
  footer .top-row {
    border-bottom: 1px solid white; }
  footer .bottom-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: "";
    flex-direction: "";
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px; }
    footer .bottom-row .column-left {
      width: 40%; }
    footer .bottom-row .column-center a {
      text-decoration: none;
      color: white !important; }
      footer .bottom-row .column-center a:hover {
        color: var(--brand-color) !important;
        -webkit-transition: 1s;
        transition: 1s; }
