$size:1200px;
$size2: 800px;
@mixin size {
    @media screen and (max-width: #{$size}){
        @content;
    }
}

@mixin size2 {
    @media screen and (max-width: #{$size2}){
        @content;
    }
}

.film-description {
    width: 50%;
    margin: 100px auto;
    padding-top: 50px;
    border-top: 3px solid var(--brand-color);   
    align-items: center;
    @include size {
        width: 80%;
    }
}

.film-description >.film {
    width: 100%;
    margin: auto;
    .film-header {
        display:grid;
        height: 80px;
        grid-template-columns: 1fr 6fr;
        row-gap: 10px;
        column-gap: 30px;
        grid-template-areas:  
        "ranking title"
        "ranking year";
        .ranking {
        grid-area: ranking;
        background-color: var(--brand-color);
        align-items: center;
        padding-top: 20px;        
        text-align: center;
            h1 {
                color: white;
            }
        }
        .title {
            grid-area: title;
        }
        .year {
            grid-area:year;
            p{
                margin-top: -20px !important;
                font-size: 1.4rem;
                font-style: italic;
                color: grey;
            }
        }
    }

    .information {
        padding:50px 0px;
        .film-img {         
            img {
                width: 100%;
                height: 300px;
            }
            }
        }
    }
    



