@import 'common';

$size:900px;
@mixin size {
    @media screen and (max-width: #{$size}){
        @content;
    }
}

$size2:850px;
@mixin size2 {
    @media screen and (max-width: #{$size2}){
        @content;
    }
}

.nav-bar {
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    @include display-flex(flex, "" , space-between, center);
    height: 80px;
    border-bottom: 1px solid grey;
    box-shadow: 0px 3px 5px -4px grey;  
    width: 80%; 
    @include size {
        width: 95%;
    }
    .logo {
        img {
            height:45px;
        
        }
    }
    .tabs {
        @include display-flex(flex, row , center, center); 
    }  
    
    .browser {
        right: 0;
        margin-left: 50px;
        @include size2 {
            display:none;
        }        
    } 
}
